#gallery div{
	list-style:none;
	display: inline-block;
	margin:4px 6px 0px 4px;
	padding: 5px;
}

#gallery li{
	box-shadow: 0px 0px 3px rgba(0,0,0,0.3);
}

#gallery li small{
	text-align: center;
	margin-left: 23px;
}

#gallery img{
	width:100%;
	height:161px;
	border:3px solid #fff;
}

#gallery img a{
	border:none;
}

#deletars{
	text-decoration:none;
	background-color: #0e87cc;
	color:#fff;
	text-shadow: 1px 1px 3px rgba(0,0,0,0.5);
	box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.3);
	font-weight:bold;
	position:absolute;
	float:right;
	width:65px;
	padding:7px;
	margin: 4px;
	text-align: center;
}

.videodetector {
	position      : relative;
	width         : 100%;
	height        : 0;
	padding-bottom: 60%;
}

.videodetector iframe {
	position: absolute;
	top     : 0;
	left    : 0;
	width   : 100%;
	height  : 100%;
}

.alert-img{
	color: #fff;
}