/**
 *
 * Styles Custom L2jWeb
 * By: LuizNascimento(LuizHFallen)
 *
 *
 */



/**

*
* RANKS EDIT
*

*/

thead.tbrank{
	 background-color: tomato;
	 color: white;
 }

tbody.tbrank{
	color: #c9c9c9;
	background-image: url("../images/banner-broken-age.jpg");
}

.tbrank th,td{
	text-align:center;
}


/**

*
* END RANKS
*

*/

/**
*
* NEWS EDIT
*
*/

.newstitle{
	background-color: tomato;
	border-radius: 5px 5px 40px 5px;
	border: 1px solid tomato;
	color: white;
}

.borderimg{
	border: 3px solid tomato;
}

/**
*
* NEWS END
*
*/

/**
*
* OTHER PAGES
*
*/

.titlepgs{
	background-color: tomato;
	border-radius: 5px 5px 40px 5px;
	border: 1px solid tomato;
	color: white;
	padding: 5px;
}

.boxpgs{
	border: 0.5px solid tomato;
  border-radius: 5px 5px 40px 5px;
	padding: 20px;
}

.imgvote{
	max-width: 100px;
	max-height: 100px;
}


/*

*
* DASHBOARD
*

*/

.maindash{
	padding-top: 30px;
}

.postsdash{
	margin-top: 30px;
	margin-bottom: 30px;
	border-radius: 10px;
	border: 1px solid purple;
	padding-top: 30px;
	padding: 10px;
	background-color: rgba(230, 197, 197, 0.56);
	color: purple;
}


.bodydash{
	background-image: url("/assets/images/background_dashboard.jpg");
	background-repeat: no-repeat;
	background-position: center;
	background-attachment: fixed;
}

.submenu{
	color:purple;
}
.submenu:hover{
	color:white;
}

.btn-dash{
	background-color: tomato;
}
.btn-dash:hover{
	background-color: white;
	color: purple;
}

.loginbox{
	margin: 0 auto;
	width: 400px;
	height: 350px;
	background: rgba(0, 0, 0, 0.48);
	margin-top: 10%;
	padding: 10px;
	border-radius: 7px;

	/* Propiedades de Texto */
	color: white;
}
