/**
 * 
 * Styles Custom L2jWeb
 * By: LuizNascimento(LuizHFallen)
 *
 *
 */

 
 
/**

*
* RANKS EDIT
*

*/

thead.tbrank{
	 background-color: tomato;
	 color: white;
 }

tbody.tbrank{
	color: #c9c9c9;
	background-image: url("../images/banner-broken-age.jpg");
}

.tbrank th,td{
	text-align:center;
}


/**

*
* END RANKS
*

*/ 

/**
*
* NEWS EDIT
*
*/

.newstitle{
	background-color: tomato;
	color: white;
}

.borderimg{
	border: 3px solid tomato;
}
	
/**
*
* NEWS END
*
*/

/**
*
* OTHER PAGES
*
*/

.titlepgs{
	background-color: tomato;
	color: white;
	padding: 5px;
}

.boxpgs{
	border: 0.5px solid tomato;
	padding: 10px;
}